%h2= @group.title

- if @group.summary.length > 0
  %p
    =@group.summary
  
%p
  The project consists of the following:
  
%ul
  - @group.projects.each do |project|
    %li
      %a{:href => "/#{@category.slug}/#{@group.slug}/#{project.slug}"}
        =project.title