- if current_user.admin?
  %a{:href => "/project/new"} Create a new project
-if @projects.empty?
  %p
    nothing to see here, move along
- @projects.each do |project|
  %p
    %a{:href=>project.slug}= project.name
    %br