%html
  %head
    %title Showcase thing
    %link{:type => "text/css", :rel => "stylesheet", :href => "/styles.css"}
    %meta{:charset => "UTF-8"}
  %body
    .outer_container
      .inner_container
        %h1 Project Showcase
        .sidebar
          - @categories.each do |category|
            %h2= category.name
            %ul
              - category.projects.each do |project|
                %li 
                  %a{:href => "/#{project.id}"}
                    =project.title
        .content
          =yield