%html
  %head
    %title= @title || "Project Notes"
    %link{:type => "text/css", :rel => "stylesheet", :href => "/styles.css"}
    %meta{:charset => "UTF-8"}
  %body
    %nav#navbar
      - if current_user
        %a{:href => "/logout"} Log Out
      - else
        - if ENV["RACK_ENV"] == "production"
          %a{:href => "https://#{@env["HTTP_HOST"]}/login"} Log In
        - else
          %a{:href => "/login"} Log In
    .outer_container
      .inner_container
        %h1 Projects
        .content
          .trail
          =yield