%h2= @project.name

- if current_user && current_user.admin?
  %nav#in_place_edit
    %a{:href => "/#{@project.slug}/edit"} Edit

.desc
  =@project.html_description
  
- if @project.repositories.count > 0
  %section#repositories
    %h3 Repositories
    - @project.repositories.each do |repo|
      %h4
        %a{:href => repo.github_url}= repo.name
      - unless repo.description.downcase == repo.name.downcase
        %p
          =repo.description
          - if repo.notes.length > 0
            %p.notes
              ="(#{repo.notes})"