body
  font-family: georgia, serif
  margin: 0
  padding: 0

.outer_container
  margin: 0 auto
  padding: 1em 0
  width: 550px

.inner_container
  display: inline
  float: left
  width: 100%

#navbar
  width: 100%
  background: #000
  min-height: 20px
  padding: 0.5em 0
  text-align: right
  
  a:link, a:visited
    color: #FFF
    padding: 0 1em
    
#login_box
  float: left
  border: 1px solid black
  background: silver
  padding: 1em

h1
  float: left
  width: 100%
  text-align: center
  
.content
  float: left
  margin-left: 6px