body
  font-family: georgia, serif
  margin: 0
  padding: 0

.outer_container
  margin: 0 auto
  padding: 1em 0
  width: 550px

.inner_container
  display: inline
  float: left
  width: 100%

#navbar
  width: 100%
  background: #000
  min-height: 20px
  padding: 0.5em 0
  text-align: right
  
  a:link, a:visited
    color: #FFF
    padding: 0 1em
    
#login_box
  float: left
  border: 1px solid black
  background: silver
  padding: 1em

h1
  float: left
  width: 100%
  text-align: center

h2
  float: left
  width: 80%
  text-align: left

h4
  padding: 0
  margin: 0

.content
  float: left
  margin-left: 6px
  
nav#in_place_edit
  display: block
  width: 15%
  float: right
  margin-top: 1.25em
  clear: right
  
  a
    border: 1px solid darkgrey
    padding: 0.2em 0.5em
    background: silver

nav#add_new_stuff
  display: block
  float: left
  margin: 1.25em 0 2em 0
  clear: both

  a
    border: 1px solid darkgrey
    padding: 0.2em 0.5em
    background: silver
    
nav.delete_link
  display: block
  float: right
  margin: -1.25em 0 2em 0
  clear: both

  a
    border: 1px solid darkgrey
    padding: 0.2em 0.5em
    background: silver
    color: crimson

div.desc
  width: 100%
  float: left
  clear: both
  
section#repositories,
section#urls
  display: block
  float: left
  clear: both
  
  dt
    font-weight: bold
    margin-left: 1em
    
  dd
    margin-left: 2em
  
  span.notes
    display: block
    float: left
    clear: both
    color: #666
    
section#main
  display: block
  float: left
  clear: both